<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Form</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <form class="form-horizontal" th:object="${task}" th:action="@{/task/}" method="post">
                <input type="hidden" th:field="*{id}"/>
                <div class="panel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Add a task</h1>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-form-label col-md-3">Task Name</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-form-label col-md-3">Task Description</label>
                                <div class="col-md-8">
                                    <textarea class="form-control" rows="5"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="col-form-label col-md-6">Task Owner</label>
                                    <div class="col-md-6">
                                        <select class="form-control" th:field="${owner}">
                                            <option>User1</option>
                                            <option>User2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="col-form-label col-md-6">Assigned To</label>
                                    <div class="col-md-6">
                                        <select class="form-control" th:field="${assigned}">
                                            <option>User1</option>
                                            <option>User2</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="col-form-label col-md-6">Start date</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="col-form-label col-md-6">Estimate Date</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="col-form-label col-md-6">Task status</label>
                                    <div class="col-md-6">
                                        <select class="form-control" th:field="${status}">
                                            <option>Waiting</option>
                                            <option>done</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="col-form-label col-md-6">Task priority</label>
                                    <div class="col-md-6">
                                        <select class="form-control" th:field="${priority}">
                                            <option>Low</option>
                                            <option>High</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div style="margin-top: 50px;float:right">
                                <button type="submit" class="btn btn-primary">Create</button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>