<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>All Tasks</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <style>
        .div1{
        width: 100px;
        height: 40px;
        padding: 5px;
        background-color: blue;
        color: white;
        margin-top:12px;
        border: 1px solid blue;
        }
        #logo {
      float: right;
       margin-top:15px;
        height: 40px;
}
    </style>
</head>
<body>
<div class="container-fluid">
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="col-md-8">
<h1>All Tasks</h1>
        </div>
    <div class="col-md-4">
    <div id="logo">
        <a class="btn btn-default" href="#"
             th:href="@{'/task/new'}" role="button">Add task</a>
    </div>
    </div>
    </div>
</div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1>List</h1>
            </div>
            <div class="panel-body">
                <div class="table-responsive" style="margin-top: 60px">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Task Name</th>
                            <th>Task Status</th>
                            <th>Start date</th>
                            <th>Estimate date</th>
                            <th>Task Owner</th>
                            <th>Assigned User</th>
                            <th>View</th>
                            <th>Update</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tr>
                            <td th:text="1">file</td>
                            <td th:text="todo">why</td>
                            <td th:text="waiting">jdnd</td>
                            <td th:text="28-1-18"></td>
                            <td th:text="30-1-18"></td>
                            <td th:text="palak"></td>
                            <td th:text="ansh"></td>
                            <td><a href="#">View</a></td>
                            <td><a href="#">Update</a></td>
                            <td><a href="#">Delete</a></td>
                        </tr>
                    </table>
                </div>
    </div>
</div>
</div>
</div>
    </div>
</div>
</div>
</body>
</html>